* {
    margin: 0;
}

.app__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

body {
    background-color: #f5f6fa;
}

.app__stats {
    display: flex;
    justify-content: space-between;

}